@media screen and (min-width: 400px) and (max-width: 600px) {
    main {
        width: 90%;
        height: 95%;
        overflow: scroll;
        scrollbar-width: none;
    }
}

@media screen and (min-width: 600px) and (max-width: 1200px) {
    main {
        width: 90%;
    }
}