@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins";
}

body {
    background-color: #261e35;
    height: 100dvh;
    width: 100dvw;
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    background-color: #372c44;
    width: 40%;
    height: auto;
    padding: 20px;
    border-radius: 12px;
}

main h1 {
    text-align: center;
    color: #fff;
    font-weight: 600;
}

#game {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 60%;
}

#game p {
    font-size: 50px;
}

.opcoesDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-direction: column;
}

.opcao {
    opacity: 0.3;
    cursor: pointer;
    transition: all 0.3s;
}

.opcao.selecionado {
    opacity: 1;
}

.opcao:hover {
    scale: 105%;
}

#game .opcoesDiv .indicador {
    font-size: 20px;
    text-align: center;
    color: #fff;
    font-weight: 500;
}

#jogarBtn {
    aspect-ratio: 1/1;
    width: 100px;
    border-radius: 100px;
    border: 2px rgba(255, 255, 255, 1) solid;
    outline: 0;
    font-size: 40px;
    background-color: transparent;
    color: #fff;
    cursor: pointer;
    transition: all 0.3s;
}

#jogarBtn:disabled {
    opacity: 0.3;
    cursor: not-allowed;
}

main hr {
    margin: 20px 0px;
}

#results {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 30%;
}

#results.noGame {
    opacity: 0.3;
    pointer-events: none;
}

#resultText {
    margin-top: 10px;
}

#restartBtn {
    margin-top: 20px;
    width: 60%;
    height: 60px;
    font-size: 20px;
    border-radius: 12px;
    border: 2px rgba(255, 255, 255, 1) solid;
    outline: 0;
    background-color: transparent;
    color: #fff;
    cursor: pointer;
}

#placar {
    color: #fff;
    text-align: center;
    font-size: 20px;
    font-weight: 500;
}

#indisponivel {
    display: none;
    color: #fff;
    text-align: center;
}

#indisponivel h1 {
    font-weight: 600;
}

#indisponivel h3 {
    font-weight: 500;
}

img.emoji {
    height: 1.2em;
    width: 1.2em;
    margin: 0 0.15em;
    vertical-align: -0.2em;
    display: inline-block;
}